@media only screen and (min-width: 961px) {

	.info {
		wdith: auto;
		margin: 0 auto;
	}

	.info h2 {
		font-size: 30px;
	}
	
	.info .detail{
		width: 25%;
		margin: 4%;
	}

	.dashboardKids, 
	.myKids{
	  width: 100%;
	}

	.dashboardKids .kid .kidBox,.kid .profileKidBox {
	  	max-width: 20%;
	  	margin: 2.5%;
	}

	.kid .profileKidBox{
	  	height: 120px;
	}

	.profileHeader,
	.parentDashboard h1{
	  	font-size: 40px;
	}

	.myKids h2,
	.parentDashboard h2 {
	  font-size: 30px;
	}
	
	.nav li {
	 	font-size: 20px;
	}

	.assignTask,
	.addUser {
		max-width: 40%;
		margin: 50px auto;
	}

	.householdChores{
		max-width: 35%;
		font-size: 20px;
	}

	.householdChores table tr th{
		font-size: 25px;
	}

	.householdChores h2 {
	color: #061283;
	font-size: 40px;
	}

	.form{
		max-width: 40%;
		margin: 70px auto;
	}

	.summary h1 {
		font-size: 60px;
	}

	.nav-bar p {
		font-size: 35px;
		margin: 5px;
	}

}